    <div class='userCreateForm'>
            <div>
                <label>User name</label>
                {{input value=name}}
            </div>
            <div>
                <br/>
                <button {{action "save"}}> ok </button>
            </div>
        </div>