
	{{bs-alert message="Dashboard charts rendered!" type="info" dismissAfter=2 fade=true}}

    <h2>Chart one</h2>
    {{chart-highchart chartSeries=modelOne chartType='line' }}

    <h2>Chart two</h2>
    {{chart-highchart chartSeries=modelOne chartType='column' }}
